<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
   <button mat-raised-button (click)="addNote()">Add note</button>
</div>
<div class = "container" *ngFor="let notes of AllNotes">
   <mat-card class="note-item" >
      <mat-card-title>{{notes.title}}</mat-card-title>
      <mat-card-content>{{notes.textarea}}</mat-card-content>
      <mat-card-content>{{notes.ID}}</mat-card-content>
      <mat-icon (click)="deleteMe(notes.ID)">delete</mat-icon>
      <mat-icon (click)="editNote(notes.ID)">add</mat-icon>

   </mat-card>
</div>
<router-outlet></router-outlet>
